p {color: #f933ff; border: 20px dashed blue; width: 300px;}
div {background-color: yellow}

button {

    background-color: grey; /* Color inicial del botón */
      color: rgb(243, 227, 10);
      padding: 10px 20px;
      border: none;
      cursor: pointer;
    }
  
  button:hover {  
    background-color: purple
    }
   h1 {font-size: 30pt; 
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
}
h2 {text-align:end;}
/* box model */
.container {width: 200px;
height: 150px;
background-color: coral;
padding: 30px;
margin: 40px;
border: 2px dotted;
}
/* box sizing */
.ejemplo-box-sizing {
    background-color: blueviolet;
    width: 200px;
    height: 100px;
    border: 5px solid;
    box-sizing: border-box;
    border-radius: 50px;
}